
data:
  max_num_nodes: 29

training:
  batch_size: 512
  learning_rate: 0.0005
  lr_decay: 0.5
  decay_iteration: 1_000_000
  betas:
    beta1: 0.9
    beta2: 0.999
  epochs: 1000
  val_size: 1000
  #dropout: 0

model:
  architecture: 'GPS'
  nhf: 256
  edge_node_ratio: 2
  n_layers: 8
  mlp_n_layers: 3
  normalization: layer_norm
  T: 128
  prior: marginal # 'masking', 'absorbing', 'marginal'
  ema: True

        # vcmol = valid_mol_can_with_seg(cmol, largest_connected_comp=largest_connected_comp)
extra_features:
  spectral_embeddings: False
  k: 0
  graph_size: True
  molecular_feat: False
  cycles: False
  rrwp: True

sampling:
  id: 'sid'
  critical: False

regressor:
  denoiser: False

log:
  n_loggin_steps: 1000
  n_loggin_epochs: 5
  n_val_samples: 1000
  sampling_batch_size: 1000
  n_samples_generation: 10000
  save_graphs: False